<%
// get all cover posts.
var coverPosts = [];
site.posts.forEach(function (post) {
    if (post.cover) {
        coverPosts.push(post);
    }
});
var coverPostsCount = coverPosts.length;
%>

<div class="carousel carousel-slider center index-cover" data-indicators="true" style="margin-top: -64px;">
    <% if (coverPostsCount > 0 && theme.cover.showPrevNext) { %>
        <div id="prev-cover" class="left waves-effect carousel-control">
            <i class="icon fa fa-angle-left"></i>
        </div>
        <div id="next-cover" class="right waves-effect carousel-control">
            <i class="icon fa fa-angle-right"></i>
        </div>
    <% } %>

    <div class=" white-text bg-cover about-cover" style="height: 1020px">
        <div class="container">
            <div class="row">
                <div class="col s10 offset-s1 m8 offset-m2 l8 offset-l2">
                    <div class="brand">
                        <div class="title center-align">
                           一键搜索全网插件
                        </div>


                    </div>
                    <div class="cover-btns">


                        <a href="#searchModal" class="modal-trigger waves-effect waves-light btn" style="width: 100%">
                            <i id="searchIcon" class="fas fa-search" title="<%= __('search') %>" style="zoom: 0.85;"> 开始搜索</i>
                        </a>


                    </div>
                </div>
            </div>





            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
    </div>


</div>

<script>

</script>
